<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passeios</title>
</head>
<body>
    <h1>Lista de Passeios</h1>
    <ul>
        <li><a href="{{ url_for('main.detalhes_passeio', id=1) }}">Wet'n Wild</a></li>
        <li><a href="{{ url_for('main.detalhes_passeio', id=2) }}">PETAR</a></li>
        <li><a href="{{ url_for('main.detalhes_passeio', id=3) }}">Hopi Hari</a></li>
    </ul>
</body>
</html>