<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SISPE</title>
</head>
<body>
   <h1>Chamada - {{ hoje }}</h1>

  <form method="post">
    <table>
      <thead>
        <tr>
          <th>Aluno</th>
          <th>Presente</th>
        </tr>
      </thead>
      <tbody>
        {% for aluno in alunos %}
        <tr>
          <td>{{ aluno.nome }}</td>
          <td>
            <input type="checkbox" name="aluno_{{ aluno.id }}" {% if presenca_hoje.get(aluno.id) %} checked {% endif %}>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="submit">Salvar Presenças</button>
  </form>

  <a href="{{ url_for('professores.ver_presencas') }}">Ver registros</a>
</body>
</html>